[alias]
	co = checkout
	br = branch
	st = status
	undo = reset HEAD~1 --mixed
	last = log -1 HEAD

[core]
	editor = vim
	excludesFile = /home/abond/.gitignore_global

[user]
	email = olishmollie@gmail.com
	name = "Andrew Bond"

[pull]
	rebase = false

[init]
	defaultBranch = main
