[alias]
  co = checkout
  br = branch
  cob = checkout -b
  st = status
  undo = reset HEAD~1 --mixed
  conflicts = diff --name-only --diff-filter=U
[core]
	excludesfile = /Users/ajbond/.gitignore_global
	editor = code
[format]
	pretty = oneline
[log]
	abbrevCommit = true
[user]
	name = AJ Bond
	email = olishmollie@gmail.com
[github]
	username = olishmollie
[pull]
	rebase = false
[credential]
	helper = osxkeychain
